@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

/**************Главный начало**************/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #83B3D31F;
  padding: 0;
  margin: 0;
}

button {
  text-decoration: none;
  background-color: #82B3D3;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
}

.image-background {
  background-color: #fff;
  color: #000;
  background: url(/images/background.jpg) no-repeat;
  background-size: 100% auto;
  max-width: 100%;
  padding-top: 26px;
  padding-bottom: 82px;
}

.background-image-subscribe {
  background-color: #fff;
  color: #000;
  background: url(/images/background-blure.jpg) no-repeat;
  background-size: 100% auto;
  max-width: 100%;
  height: 411px;
}


/*Шапка начало*/

.page-header {
  background-color: #fff;
  color: black;
}

.navigation-item a {
  text-decoration: none;
  color: black;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
}

/*Шапка конец*/

/*Слайд начало*/


/*Слайд конец*/

/*Преимущества начало*/

.header, .advantages-header {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
}

.advantages {
  text-align: center;
}

.advantages-title-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  background-color: #82B3D3;
  color: white;
  text-align: center;
}

.advantages h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

/*Преимущества начало*/

.hotel-search {
  text-align: center;
}

.hotel-search h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.hotel-search p {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/*Преимущества конец*/

/*Подписка на рассылку начало*/

.subscribe {
  text-align: center
}

.subscribe h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: white;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  color: white;
}

/*Подписка на рассылку конец*/

/*Подвал начало*/

.socials a {
  text-decoration: none;

}

.socials-button {
  background-color: #000;
  color: white;
}

.number a {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
}

/*Подвал конец*/

/**************Главный начало**************/



/**************Каталог начало**************/

/*Фильтр начало*/

.inner-header, .catalog-filter {
  background-color: black;
  color: white;
}

.inner-header h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

.inner-header a{
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
}

.control-input {
  line-height: 21px;
}

/*Фильтр конец*/

/*Каталог наччало*/

.catalog-products h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-card h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

.product-card b {
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: white;
}

.pagination-item a {
  background-color: #82B3D3;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/*Каталог конец*/

.subscribe-catalog {
  text-align: center
}

.subscribe-catalog h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

.subscribe-cataloge p {
  font-size: 22px;
  line-height: 26px;
  color: white;
}

/**************Каталог конец**************/
