@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**************Главный начало**************/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #83B3D31F;
  padding: 0;
  margin: 0;
}

button {
  text-decoration: none;
  background-color: #82B3D3;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
}

.image-background {
  background-color: #fff;
  color: #000;
  background: url(../images/background.jpg) no-repeat;
  background-size: 100% auto;
  max-width: 100%;
  padding-top: 52px;
  padding-bottom: 82px;
}

.background-image-subscribe {
  background-color: #fff;
  color: #000;
  background: url(../images/background-blure.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 411px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
}

/**************Главный конец**************/

/*Шапка начало*/

.navigation-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header {
  background-color: #fff;
  color: black;
}

.navigation-link {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 0;
  display: block;
  padding: 20px 17px;
}


.navigation {
  display: flex;
  width: 970px;
  margin: auto;
  box-sizing: border-box;
}

.navigation-item {
  align-items: center;
}

.navigation-user {
  width: 295px;
}

.navigation-user .navigation-link {
  padding: 20px 12px;
  min-width: 16px;
  min-height: 22px;
}

.container-navigation-list {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container-navigation-list ul {
  margin-left: 66px;
}

/*Шапка конец*/

/*Слайд начало*/

.image-background img {
  flex-grow: 1;
}

.header {
  margin-bottom: 63px;
}

/*Слайд конец*/

/*Преимущества начало*/

.header,
.advantages-header {
  text-align: center;
}

.advantages-header {
  width: 705px;
  margin: auto;
}

.advantages-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 31px;
}

.advantages {
  text-align: center;
}

.advantages-title-description {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  background-color: #82B3D3;
  color: white;
  text-align: center;
  display: flex;
  list-style-type: none;
}

.advantages-item:nth-child(1) {
  padding: 92px 85px;
}

.advantages-bridge-item:nth-child(2) {
  padding: 92px 85px;
}

.advantage-item {
  padding: 80px 85px;
}


.advantage-list {
  display: flex;
  list-style-type: none;
}

.advantages h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

/*Преимущества начало*/

.hotel-search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-descripton {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 56px;
}

.link-catalog {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

/*Преимущества конец*/

/*Подписка на рассылку начало*/

.subscribe {
  text-align: center
}

.subscribe-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: white;
  margin: 0;
  margin-bottom: 46px;
}

/*Подписка на рассылку конец*/

/*Подвал начало*/

.socials a {
  text-decoration: none;

}


.socials-button {
  background-color: #000;
  color: white;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  width: 116px;
  list-style-type: none;
}

.number-text a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
}

.container-footer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 72px 30px 72px;
}

/*Подвал конец*/

/**************Главный начало**************/



/**************Каталог начало**************/

/*Фильтр начало*/

.inner-header,
.catalog-filter {
  background-color: black;
  color: white;
}

.inner-header {
  padding-top: 40px;
}

.container-header {
  width: 1060px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  width: 120px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 88px;
}

.container-filter {
  width: 1060px;
  margin: auto;
  padding-bottom: 70px;
}

.catalog-filter-form {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

.inner-header a {
  text-decoration: none;
}

.container-filter-group {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
}

.container-filter-submit {
  display: flex;
  flex-direction: column;
}

.control-input {
  line-height: 21px;
}

/*Фильтр конец*/

/*Каталог начало*/

.container-catalog {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 17px 71px 30px 73px;
}

.container-catalog-title {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container-product-card {
  margin: auto;
  width: 1016px;
  display: flex;
  flex-wrap: wrap;
}

.container-catalog-paginaion {
  width: 1016px;
  margin-right: auto;
}

.catalog-products h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-card h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

.product-card b {
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: white;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-item a {
  background-color: #82B3D3;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/*Каталог конец*/

.subscribe-catalog {
  text-align: center
}

.subscribe-catalog h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

.subscribe-cataloge p {
  font-size: 22px;
  line-height: 26px;
  color: white;
}

/**************Каталог конец**************/
