@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**************Главный начало**************/

html {
  height: 100%;
  scroll-behavior: smooth;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
}

.image-background {
  background-color: #fff;
  color: #000;
  background: url(../images/background.jpg) no-repeat;
  background-size: 100% auto;
  max-width: 100%;
  padding-top: 52px;
  padding-bottom: 82px;
  position: relative;
}

.image-background::after {
  position: absolute;
  content: "";
  background: url(../images/bottom-vector-bg.svg) no-repeat;
  width: 100%;
  height: 57px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.background-image-subscribe {
  background-color: #fff;
  color: #000;
  background: url(../images/background-blure.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 411px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}


/**************Главный конец**************/

/*Шапка начало*/

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 450px;
  margin-left: auto;
  list-style-type: none;
}

.page-header {
  background-color: #fff;
  color: black;
  padding: 0;
  margin: 0;
  z-index: 50
}

.navigation-link {
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 0;
  display: block;
  padding: 20px 17px;
  position: relative;
}

.navigation-link-icon::after {
  z-index: 1;
  position: absolute;
  display: none;
  content: "12";
  letter-spacing: -0.1em;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  top: 20%;
  right: 0;
  border-radius: 50%;
  font-weight: 400;
  line-height: 20px;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #756257;
  bottom: 0;
  right: 17px;
  left: 17px;
}

.link-login {
  display: block;
  background-color: #756157;
  border-radius: 4px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 30px;
  margin-left: 20px;
}

.link-login:hover {
  background-color: #615048;
}

.link-login:active {
  background-color: #756157;
}

.link-login:disabled {
  background-color: #E5E5E5;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-between;
}

.navigation-item {
  align-items: center;
}

.navigation-user {
  padding: 0;
  margin: 0;
  max-width: 272px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user .navigation-link {
  padding: 20px 12px;
  min-width: 16px;
  min-height: 22px;
}

.container-navigation-list {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.home-link {
  position: absolute;
}

.image {
  position: relative;
  width: 140px;
}


/*Шапка конец*/

/*Слайд начало*/

.image-background img {
  flex-grow: 1;
}

.header {
  margin-bottom: 63px;
}

/*Слайд конец*/

/*Преимущества начало*/

.header,
.advantages-header {
  text-align: center;
}

.advantages-header {
  margin: auto;
}

.advantages-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 31px;
}

.advantages {
  text-align: center;
}

.advantages-title-description {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}


.advantages-list {
  background-color: #82B3D3;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
}

.advantages-list li:nth-child(2) {
  grid-column: 2 / -1;
}


.advantage-list li:nth-child(1) {
  grid-column: 1 / 3;
}

.advantages-item:nth-child(1) {
  padding: 92px 85px;
}

.advantages-bridge-item:nth-child(2) {
  padding: 92px 85px;
}

.advantage-item {
  padding: 80px 85px;
}

.advantage-list {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 400px 400px 400px;
  background-color: #82B3D3;
  color: white;
  text-align: center;
}

.advantages-list li:nth-child(3) {
   background-color: #F0F6FA;
   color: #000;
}

.advantages-list li:nth-child(4) {
  background-color: #ffffff;
  color: #000;
}

.advantages-list li:nth-child(5) {
  background-color: #F0F6FA;
  color: #000;
}

.advantages-list li:nth-child(3) img {
  margin-bottom: 30px;
}

.advantages-list li:nth-child(4) img {
  margin-bottom: 30px;
}

.advantages-list li:nth-child(5) img {
  margin-bottom: 30px;
}

.advantage-list li:nth-child(3) {
  background-color: #E5E5E5;
  color: #000;
}

.advantage-list li:nth-child(4) {
 background-color: #E6F0F6;
 color: #000;
}

.advantage-list li:nth-child(5) {
 background-color: #F0F6FA;
 color: #000;
}

.advantages h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages p {
  margin: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.container-sity img, .container-bridge img {
  display: block;
  margin: 0 auto;
}

/*Преимущества начало*/

.hotel-search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-descripton {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}


.link-catalog {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  padding: 12px 15px;
  max-width: 575px;
  background-color: #756157;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.link-catalog:hover {
  background-color: #615048;
}

.link-catalog:active {
  background-color: #756157;
}

.link-catalog:disabled {
  background-color: #E5E5E5;
}

/*Преимущества конец*/

/*Подписка на рассылку начало*/

.subscribe {
  text-align: center;
}

.subscribe-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: white;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  margin: 0 auto;
}

.subscribe-inner-form {
  margin: 0 auto;
  max-width: 800px;
}

.subscribe-email {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  padding: 20px 22px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0 0 10px;
}

.subscribe-email::placeholder {
  color: #616161;
  font-size: 18px;
  line-height: 21px;
}

.buttton-subscribe {
  background-color: #82B3D3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.buttton-subscribe:hover {
  background-color: #68A2CA;
}

.buttton-subscribe:active {
  background-color: #82B3D3;
}

.buttton-subscribe:disabled {
  background-color: #E5E5E5;
}

/*Подписка на рассылку конец*/

/*Подвал начало*/

.socials a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 12px;
  display: block;
}

.social-icon {
  fill: #83B3D3;
}

.socials-button:hover .social-icon {
  fill: #68A2CA;
}

.socials-button:focus .social-icon {
  fill: #68A2CA;
}

.socials-button:active .social-icon {
  fill: #D2E3EF;
}

.socials-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  list-style-type: none;
}

.number-text a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  padding: 12px;
}

.number-text a:hover {
  color: #756157;
}

.number-text a:focus {
  color: #756157;
}

.number-text a:active {
  color: #D6D0CD;
}

.number-text {
  padding: 0;
  margin: 0;
}

.container-footer {
  margin: 0 auto;
  width: 1036px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0px 35px 0px;
}

.about-logo a {
  display: block;
  padding: 12px;
}

.about-icon {
  fill: #000000;
}

.about-icon:hover {
  fill: #756157;
}

.about-icon:focus {
  fill: #756157;
}

.about-icon:active {
  fill: #D6D0CD;
}

/*Подвал конец*/

/**************Главный начало**************/



/**************Каталог начало**************/

/*Фильтр начало*/



.container-background-image-filter {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  padding: 35px 70px 70px 70px;
  position: relative;
  z-index: 0;
}

.box-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent url(../images/pattern.png) repeat top left;
  z-index: -1;
  opacity: 0.4;
  box-shadow: #fff 0px 0px 0px 10px;
}

.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: url(../images/background.jpg) no-repeat;
  z-index: -2;
  filter: blur(6px);
}

.home-link {
  z-index: 50;
}

.inner-header,
.catalog-filter {
  color: white;
}

.container-header {
  width: 1060px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs li:nth-child(2) {
  display: flex;
}

.home-link-icon {
  fill: #fff;
}

.breadcrumbs-link {
  display: block;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link:hover .home-link-icon {
  fill: #B9BFCB;
}

.breadcrumbs-link:active .home-link-icon {
  fill: #868885;
}

.breadcrumbs-link:hover {
  color: #B9BFCB;
}

.breadcrumbs-link:active {
  color: #868885;
}

.breadcrumbs-item-right img {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.container-filter {
  width: 1060px;
  margin: auto;
}

.catalog-filter-group {
 border: none;
 padding: 0;
 margin: 0;
}

legend {
  padding: 0;
  margin: 0;
}

.catalog-filter-form {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.inner-header-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 25px;
  display: block;
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

.inner-header a {
  text-decoration: none;
}

.container-filter-group {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.catalog-filter-list {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control-label {
  font-weight:normal;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:disabled + .control-mark {
  opacity: 0.2;
}

.control-input:focus + .control-mark {
  box-shadow: #83b3d3 0px 0px 0px 3px;
  opacity: 0.6;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
  width: 6px;
  left: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-52deg);
  width: 13px;
  top: 8px;
  left: 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color:  #3F5E72;;
  border-radius: 50%;
  content: "";
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  left: 0;
  top: -1px;
  border-radius: 4px;
}


.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
}

.range-wrapper-inputs {
  width: 246px;
  margin-bottom: 38px;
  border: 3px solid #fff;
  border-radius: 4px;
  padding: 11px 17px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
}

.catalog-filter-label span {
  opacity: 0.3;
}

.range-input {
  width: 60px;
  font: inherit;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label:nth-child(2) {
  margin-left: 30px;
  position: relative;
}

.catalog-filter-label-line::before {
  position: absolute;
  content: "";
  display: block;
  width: 3px;
  height: 53px;
  left: -35px;
  top: -14px;
  background-color: #fff;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #bfbfbf3d;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #bfbfbf;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}


.toggle-max {
  top: -8px;
  right: -10px;
}



.container-filter-submit {
  display: flex;
  flex-direction: column;
}

.control-input {
  line-height: 21px;
}

.botton-filter {
  padding: 14px 30px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.botton-filter:hover {
  background-color: #68A2CA;
}

.botton-filter:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.botton-filter:disabled {
  background-color: #E5E5E5;
}

.button-filter-esc {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  padding: 14px 30px;
}

.button-filter-esc:hover {
  opacity: 0.6;
}

.button-filter-esc:focus {
  border: #68A2CA solid 2px;
}

.button-filter-esc:active {
  opacity: 0.3;
}

/*Фильтр конец*/

/*Каталог начало*/

.button-sort {
  border: #E5E5E5 solid 2px;
  background-color: #fff;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  display: block;
  padding: 16px 17px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 290px;
}

.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 109px;
  font: inherit;
  font-weight: normal;
  background-color: #fff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(/images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control-info {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
  padding: 14px 20px;
  padding-right: 109px;
  font: inherit;
  font-weight: normal;
  background-color: #fff;
  border: 2px solid #E5E5E5;
  background-image: url(/images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control-info:hover,
.select-control-info:focus {
  border-color: #68A2CA;
}

.select-control-info:active {
  border-color: #3F5E72;
}

.button-sort:hover {
  border: #000 solid 2px;
}

.button-sort:focus {
  border: #68A2CA solid 2px;
}

.button-sort:active {
  border: #000 solid 2px;
}

.button-sort-active {
  border: #000 solid 2px;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  display: block;
  padding: 16px 17px;
}

.button-sort img {
  display: block;
  margin: 0;
  padding: 0;
}

.inner-catalog-link {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.container-catalog {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 57px 71px 25px 73px;
}

.container-catalog-title {
  width: 1055px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-product-card {
  width: 1016px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
}

.container-catalog-paginaion {
  width: 1016px;
  margin-right: auto;
}

.catalog-products h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inner-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.inner-price b {
  width: 140px;
  text-align: left;
}

.inner-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.inner-button a, .inner-button button {
  width: 140px;
}

.product-card-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

.product-card-link {
  text-decoration: none;
}

.inner-price b {
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.product-card-button {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
}

.product-card-button:hover {
  background-color: #615048;
}

.product-card-button:focus {
  background-color: #615048;
}

.product-card-button:active {
  opacity: 0.6;
}

.product-card-button:disabled {
  background-color: #E5E5E5;
}

.button-favourites {
  background-color: #82B3D3;
  border-radius: 4px;
}

.button-favourites:hover {
  background-color: #68A2CA;
}

.button-favourites:focus {
  background-color: #68A2CA;
}

.button-favourites:active {
  opacity: 0.6;
}

.button-favourites:disabled {
  background-color: #E5E5E5;
}

.button-favourites-active {
  background-color: #7DB54F;
  border-radius: 4px;
}

.button-favourites-active:hover {
  background-color: #6C9E42;
}

.button-favourites-active:focus {
  background-color: #6C9E42;
}

.button-favourites-active:active {
  opacity: 0.6;
}

.button-favourites-active:disabled {
  background-color: #E5E5E5;
}

.product-card-image {
  object-fit: cover;
}

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars p {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 15px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}

.container-catalog-paginaion {
  margin: auto;
  width: 1030px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 420px;
  justify-content: space-between;
}

.pagination-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: block;
  background-color: #82B3D3;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 10px 22px;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  opacity: 0.6;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000;
}

.inner-info-catalog {
  width: 390px;
  display: flex;
  justify-content: space-between;
}

.inner-info-catalog span {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.subscribe-catalog {
  text-align: center;
  color: #000;
}

.subscribe-catalog h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

.subscribe-catalog-inner-form .subscribe-email {
  background-color: #F2F2F2;
}

.subscribe-catalog .subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.background-img {
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}

/**************Каталог конец**************/
