@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**************Главный начало**************/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #83B3D31F;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
}

.image-background {
  background-color: #fff;
  color: #000;
  background: url(../images/background.jpg) no-repeat;
  background-size: 100% auto;
  max-width: 100%;
  padding-top: 52px;
  padding-bottom: 82px;
}

.background-image-subscribe {
  background-color: #fff;
  color: #000;
  background: url(../images/background-blure.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 411px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
}

/**************Главный конец**************/

/*Шапка начало*/

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 450px;
  margin-left: auto;
  list-style-type: none;
}

.page-header {
  background-color: #fff;
  color: black;
  padding: 0;
  margin: 0;
}

.navigation-link {
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 0;
  display: block;
  padding: 20px 17px;
  position: relative;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #756257;
  bottom: 0;
  right: 17px;
  left: 17px;
}

.link-login {
  display: block;
  background-color: #756157;
  border-radius: 4px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 30px;
  margin-left: 20px;
}

.link-login:hover {
  background-color: #615048;
}

.link-login:active {
  background-color: #756157;
}

.link-login:disabled {
  background-color: #E5E5E5;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-between;
}

.navigation-item {
  align-items: center;
}

.navigation-user {
  padding: 0;
  margin: 0;
  max-width: 272px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user .navigation-link {
  padding: 20px 12px;
  min-width: 16px;
  min-height: 22px;
}

.container-navigation-list {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.home-link {
  position: absolute;
}

.image {
  position: relative;
  width: 140px;
}


/*Шапка конец*/

/*Слайд начало*/

.image-background img {
  flex-grow: 1;
}

.header {
  margin-bottom: 63px;
}

/*Слайд конец*/

/*Преимущества начало*/

.header,
.advantages-header {
  text-align: center;
}

.advantages-header {
  margin: auto;
}

.advantages-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 31px;
}

.advantages {
  text-align: center;
}

.advantages-title-description {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}


.advantages-list {
  background-color: #82B3D3;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
}

.advantages-list li:nth-child(2) {
  grid-column: 2 / -1;
}


.advantage-list li:nth-child(1) {
  grid-column: 1 / 3;
}

.advantages-item:nth-child(1) {
  padding: 92px 85px;
}

.advantages-bridge-item:nth-child(2) {
  padding: 92px 85px;
}

.advantage-item {
  padding: 80px 85px;
}

.advantage-list {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 400px 400px 400px;
  background-color: #82B3D3;
  color: white;
  text-align: center;
}

.advantages-list li:nth-child(3) {
   background-color: #F0F6FA;
   color: #000;
}

.advantages-list li:nth-child(4) {
  background-color: #ffffff;
  color: #000;
}

.advantages-list li:nth-child(5) {
  background-color: #F0F6FA;
  color: #000;
}

.advantages-list li:nth-child(3) img {
  margin-bottom: 30px;
}

.advantages-list li:nth-child(4) img {
  margin-bottom: 30px;
}

.advantages-list li:nth-child(5) img {
  margin-bottom: 30px;
}

.advantage-list li:nth-child(3) {
  background-color: #E5E5E5;
  color: #000;
}

.advantage-list li:nth-child(4) {
 background-color: #E6F0F6;
 color: #000;
}

.advantage-list li:nth-child(5) {
 background-color: #F0F6FA;
 color: #000;
}

.advantages h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages p {
  margin: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.container-sity img, .container-bridge img {
  display: block;
  margin: 0 auto;
}

/*Преимущества начало*/

.hotel-search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-descripton {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}


.link-catalog {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  padding: 12px 15px;
  max-width: 575px;
  background-color: #756157;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.link-catalog:hover {
  background-color: #615048;
}

.link-catalog:active {
  background-color: #756157;
}

.link-catalog:disabled {
  background-color: #E5E5E5;
}

/*Преимущества конец*/

/*Подписка на рассылку начало*/

.subscribe {
  text-align: center;
}

.subscribe-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: white;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  margin: 0 auto;
}

.subscribe-inner-form {
  margin: 0 auto;
  max-width: 800px;
}

.subscribe-email {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  padding: 20px 22px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0 0 10px;
}

.subscribe-email::placeholder {
  color: #616161;
  font-size: 18px;
  line-height: 21px;
}

.buttton-subscribe {
  background-color: #82B3D3;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.buttton-subscribe:hover {
  background-color: #68A2CA;
}

.buttton-subscribe:active {
  background-color: #82B3D3;
}

.buttton-subscribe:disabled {
  background-color: #E5E5E5;
}

/*Подписка на рассылку конец*/

/*Подвал начало*/

.socials a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 12px;
  display: block;
}


.socials-button {

}

.socials-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  list-style-type: none;
}

.number-text a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  line-height: 40px;
}

.number-text {
  padding: 0;
  margin: 0;
}

.container-footer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 45px 70px 35px 81px;
}

/*Подвал конец*/

/**************Главный начало**************/



/**************Каталог начало**************/

/*Фильтр начало*/

.inner-header,
.catalog-filter {
  background-color: black;
  color: white;
}

.inner-header {
  padding-top: 40px;
}

.container-header {
  width: 1060px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  width: 120px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 88px;
}

.container-filter {
  width: 1060px;
  margin: auto;
  padding-bottom: 70px;
}

.catalog-filter-form {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

.inner-header a {
  text-decoration: none;
}

.container-filter-group {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
}

.container-filter-submit {
  display: flex;
  flex-direction: column;
}

.control-input {
  line-height: 21px;
}

/*Фильтр конец*/

/*Каталог начало*/

.container-catalog {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 17px 71px 30px 73px;
}

.container-catalog-title {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container-product-card {
  margin: auto;
  width: 1016px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
}

.container-catalog-paginaion {
  width: 1016px;
  margin-right: auto;
}

.catalog-products h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inner-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.inner-price b {
  width: 140px;
  text-align: left;
}

.inner-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.inner-button a, .inner-button button {
  width: 140px;
}

.product-card h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

.product-card b {
  line-height: 21px;
  color: #333333;
}

.product-card-button {
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: white;
}

.product-card-image {
  object-fit: cover;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-item a {
  background-color: #82B3D3;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/*Каталог конец*/

.subscribe-catalog {
  text-align: center
}

.subscribe-catalog h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}

.subscribe-cataloge p {
  font-size: 22px;
  line-height: 26px;
  color: white;
}

/**************Каталог конец**************/
